body, input, textarea {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
}

/*note titles and contents*/
fieldset {
    border: 0px;
}

input, textarea {
    padding: 5px 5px 5px 5px;
    width: 98%;
    border: 0px;
    text-overflow: ellipsis;
    /*I want these to expand down to a certain point (6 lines) then do elipses */
}

input {
    font-size: medium;
    font-weight: bold;
}

textarea {
    font-size: small;
}

.note, .existingTitle, .existingContents {
    background-color: lightsteelblue
}

.note {
    margin: 10px 0px 5px 0px;
    padding: 10px;
}

.existingTitle{
    color: lightslategray;
}

.existingContents{
    color: cadetblue;
}

/*note buttons*/
button {
    border: 0px;
    margin: 0px 5px 0px 0px;
    padding: 5px 10px 5px 10px;
    color: grey;
}

/*status*/
#status {
    font-size: small;
    white-space: pre;
    overflow: none;
    width: 600px;  /*whould be dynamic based on screen size*/
}