body, input, textarea {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
}

input, textarea {
    width: 100%;
    border: 0px;
}

input {
    font-size: medium;
    font-weight: bold;
}

textarea {
    font-size: small;
}

.note {
    margin: 10px 0px 5px 0px;
}

#status {
    font-size: small;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: none;
    width: 600px;  /*whould be dynamic based on screen size*/
}